{% extends "base.html" %}
{% load static %}
{% block title %}Regions{% endblock %}

{% block content %}

<section class="intro-single">
  <div class="container">
    <h1 class="title-single">Regions</h1>
  </div>
</section>

<section class="news-grid grid">
  <div class="container">
    <div class="row">

      {% for region in regions %}
      <div class="col-md-4">
        <div class="card-box-b card-shadow">

          <div class="img-box-b">
            <img src="{{ region.image.url }}" class="img-b img-fluid">
          </div>

          <div class="card-overlay">
            <div class="card-header-b">

              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="{% url 'region-single' region.slug %}">
                    {{ region.name }}
                  </a>
                </h2>
              </div>

              <div class="card-date">
                <span class="date-b">{{ region.created_at }}</span>
              </div>

            </div>
          </div>

        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>

{% endblock %}